aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
filetype
frozenlist
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-ai-generativelanguage
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
httpx-sse
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
lxml
MarkupSafe
marshmallow
multidict
mypy_extensions
narwhals
numpy
orjson
packaging
pandas
pdfminer.six
pdfplumber
pillow
propcache
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyparsing
pypdfium2
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
referencing
requests
requests-toolbelt
rpds-py
rsa
six
smmap
sniffio
SQLAlchemy
streamlit
tenacity
toml
tornado
tqdm
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
watchdog
yarl
zstandard
